html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
body {
  font-family: $primary-font;
  color: $color-gray;
  font-size: 1.6rem;
}
.header {
  padding: 3rem;
  box-shadow: 0 3px 5px rgba($color-gray, 0.2);
}
.main {
  max-width: $max-width;
  @include centerEl(2rem);
}
.boxes {
  margin-top: 2rem;
  display: flex;
  flex-wrap: flex-wrap;
  .box {
    @include createBox(14rem);
    @include flexCenter();
    box-shadow: none;
    flex: 1;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      @include rotate360();
    }
  }
}
.icon {
  width: 30px;
  height: 30px;
}
// @include corner-icon(android, top, left);
// @include corner-icon(airplane, top, left);
// @include corner-icon(appleinc, top, left);
// @include corner-icon(alarm, top, left);
// @include corner-icon(facebook2,top,left);
.move-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightgreen;
  @include move-from-left-to-right(1s) {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(80vw);
    }
  }
}

.list {
  flex: 1;
  @include horizontal-list();

  li {
    margin-bottom: 1.2rem;
    padding: 1rem;
    background-color: #4dfd3f;

    &:hover {
      cursor: pointer;
      background-color: lighten(#ddf, 0.8);
    }
  }
}

.replace-phone {
  @include replace-on-hover(phone)
}

.replace-cloud {
  @include replace-on-hover(cloud);
}

.replace-facebook {
  @include replace-on-hover(facebook2);
}

.replace-google {
  @include replace-on-hover(google2);
}

.replace-appleinc {
  @include replace-on-hover(appleinc);
}

.replact-github {
  @include replace-on-hover(github)
}

.avatar {

  display: flex;
  flex-direction: column;
  @include square(200px, 10px);
  border-bottom: 1px solid rgba(#000,0.2);
  img {
    width: 100%;
  }
}

.code{
  overflow-x: scroll;
}
@include hightlight-syntax(
  $string: #080,
  $comment: #800,
  $variable: #60b,
  $keyword: #f44
);

.btn {
  border: 1px solid green;
  padding: 1rem 1.2rem;
  font-size: 1.5rem;

  @include hover {
    border-radius: 10px;
    transform: translateY(-3px);
  }
}
.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2000px;;
  z-index: 2000;
}
.particle {

  box-shadow: 0px 0px #000, 418px 1121px #000, 1477px 1042px #000, 2254px 202px #000, 556px 274px #000, 1948px 2207px #000, 2469px 1551px #000, 2513px 359px #000, 1502px 39px #000, 1455px 2234px #000, 1116px 1554px #000, 51px 271px #000, 20px 2160px #000, 2544px 1030px #000, 1531px 495px #000, 34px 2089px #000, 1440px 9px #000, 401px 201px #000, 851px 1367px #000, 1728px 2514px #000, 850px 1786px #000, 1521px 879px #000, 7px 1438px #000, 126px 470px #000, 2400px 1668px #000, 7px 1091px #000, 233px 489px #000, 114px 272px #000, 1729px 2550px #000, 667px 1663px #000, 2477px 705px #000, 990px 831px #000, 1072px 371px #000, 2514px 231px #000, 1984px 923px #000, 5px 2136px #000, 2080px 1719px #000, 1972px 1608px #000, 156px 423px #000, 1535px 973px #000, 840px 315px #000, 1478px 1161px #000, 697px 1565px #000, 1953px 260px #000, 7px 1724px #000, 798px 2093px #000, 978px 1200px #000, 985px 1644px #000, 416px 1038px #000, 2221px 215px #000, 1970px 2221px #000, 2349px 408px #000, 966px 27px #000, 2364px 2249px #000, 1070px 1424px #000, 2252px 880px #000, 1635px 1619px #000, 829px 189px #000, 704px 2017px #000, 2070px 682px #000, 125px 338px #000, 841px 991px #000, 875px 2339px #000, 902px 1729px #000, 1881px 736px #000, 997px 1467px #000, 1296px 1877px #000, 892px 1431px #000, 596px 2080px #000, 1507px 560px #000, 1753px 441px #000, 561px 516px #000, 1519px 1434px #000, 242px 1546px #000, 939px 2473px #000, 1284px 2238px #000, 2062px 411px #000, 2436px 1332px #000, 370px 1708px #000, 752px 2531px #000, 2106px 738px #000, 2239px 2528px #000, 1747px 153px #000, 1720px 2000px #000, 396px 1008px #000, 1161px 193px #000, 621px 2111px #000, 1858px 616px #000, 567px 2359px #000, 217px 619px #000, 510px 2110px #000, 1997px 592px #000, 1126px 512px #000, 1847px 2295px #000, 2328px 189px #000, 1843px 1960px #000, 1127px 708px #000, 1272px 1947px #000, 875px 2039px #000, 2017px 1809px #000, 368px 150px #000, 1549px 1310px #000, 1784px 1715px #000, 1920px 843px #000, 1952px 1689px #000, 1199px 300px #000, 1741px 2475px #000, 2494px 2114px #000, 2443px 1926px #000, 1268px 222px #000, 633px 1227px #000, 283px 2508px #000, 942px 574px #000, 1044px 2126px #000, 852px 263px #000, 1192px 208px #000, 1566px 1004px #000, 1496px 2346px #000, 1252px 1030px #000, 1462px 497px #000, 1400px 208px #000, 332px 1516px #000, 1029px 803px #000, 2453px 862px #000, 2014px 5px #000, 824px 1133px #000, 820px 2081px #000, 1311px 1729px #000, 235px 2301px #000, 1611px 1280px #000, 2472px 1563px #000, 649px 132px #000, 209px 2265px #000, 597px 1758px #000, 201px 1158px #000, 1030px 1898px #000, 1610px 1695px #000, 21px 302px #000, 899px 1839px #000, 1670px 1108px #000, 957px 93px #000, 2327px 329px #000, 517px 1326px #000, 1847px 2294px #000, 1394px 827px #000, 841px 321px #000, 1159px 1191px #000, 942px 2188px #000, 881px 599px #000, 1355px 1608px #000, 1976px 1499px #000, 2311px 1669px #000, 275px 1357px #000, 587px 965px #000, 2444px 826px #000, 2230px 1289px #000, 1399px 2409px #000, 2267px 2409px #000, 256px 1099px #000, 633px 57px #000, 2070px 424px #000, 1930px 1958px #000, 1191px 1300px #000, 957px 1885px #000, 1354px 1150px #000, 2299px 2071px #000, 891px 1870px #000, 361px 2342px #000, 220px 2006px #000, 2010px 1957px #000, 217px 2550px #000, 1464px 2521px #000, 2311px 1987px #000, 1998px 1082px #000, 1291px 42px #000, 89px 1389px #000, 2333px 774px #000, 2365px 1050px #000, 2321px 1239px #000, 2189px 1384px #000, 80px 749px #000, 1325px 2064px #000, 1776px 1965px #000, 180px 2317px #000, 492px 763px #000, 1261px 645px #000, 1955px 286px #000, 1099px 782px #000, 551px 1173px #000, 11px 235px #000, 130px 2539px #000, 2312px 21px #000, 2300px 471px #000, 375px 820px #000, 306px 2364px #000, 307px 484px #000, 1389px 1429px #000, 1435px 577px #000, 1336px 2302px #000, 1435px 1428px #000, 1087px 1359px #000;
  height: 10px;
  width: 10px;
}
